#continue-table {
  display: block;
  overflow-y: scroll;
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  color: white;
  margin-left: 29rem;
  width: 11.6rem;
  height: 29rem;
}

.game-link {
  color: aqua;
  font-family: sans-serif;
}

.select-text {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
}
