body {
  background-color: rgb(0, 0, 0);
}
hr {
  background-color: aqua;
}
.title-header {
  margin-top: 1rem;
  font-size: 60px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  color: white;
}

#main-flex {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rules-button {
  padding: 25.5px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: whitesmoke;
}

.previous-button {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: whitesmoke;
}

.rounds-button {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: whitesmoke;
}

.continue-button {
  font-family: "Raleway", sans-serif;
  font-family: unset;
  font-size: 24px;
  color: whitesmoke;
}

.begin-button {
  margin-left: 31rem;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.num-font {
  font-family: sans-serif;
}
