#previous-table {
  display: block;
  overflow-y: scroll;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: white;
  height: 30rem;
}

.id-label {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: white;
  margin-left: 15rem;
}

.num-font {
  font-family: sans-serif;
}
