body {
  background-color: rgb(0, 0, 0);
}
hr {
  background-color: aqua;
}
#titleHeader {
  margin-top: 3rem;
  font-size: 60px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  color: white;
}

#mainFlex {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rulesButton {
  padding: 25.5px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: whitesmoke;
}

#previousButton {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: whitesmoke;
}

#roundsButton {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: whitesmoke;
}

#continueButton {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: whitesmoke;
}

#beginButton {
  margin-left: 31rem;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rules {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: whitesmoke;
}

#returnButton {
  float: right;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

#previousTable {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: white;
}

#idLabel {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: white;
  margin-left: 15rem;
}

#gameIDSearch {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

#enterButton {
  font-family: "Raleway", sans-serif;
}

#selectText {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
}

#continueTable {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: white;
  margin-left: 28rem;
}

#gameID {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  color: whitesmoke;
}

#guessingGame {
  display: flex;
}

#guessInput {
  font-size: 40px;
  background-color: whitesmoke;
  text-align: center;
}

.num {
  font-size: 40px;
  padding: 30px;
  margin: 2px;
}

#clearButton {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  position: relative;
  padding-left: 55px;
  padding-right: 55px;
  top: -3rem;
  left: 2px;
}

#enterGameButton {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  position: relative;
  padding-left: 54.3px;
  padding-right: 54.3px;
  top: 1rem;
  right: 12.4rem;
}

#guessTable {
  display: block;
  height: 400px;
  width: 600px;
  overflow-y: scroll;
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  color: whitesmoke;
  text-align: center;
  position: relative;
  left: 32rem;
  top: -39rem;
}

#roundTable {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: white;
}
